@-webkit-keyframes shine {
  100% {
    background-position: -120% 0;
  }
}

@keyframes shine {
  100% {
    background-position: -120% 0;
  }
}

/* COMPONENT STYLES */
.callToActionContainer {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callToActionContainer .contentWrapper {
  height: 40%;
  margin: auto;
}

.callToActionContainer .contentWrapper h1 {
  margin: 0 1.5rem;
  text-align: left;
  width: 75%;
  font-family: 'Montserrat';
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 0px 80px #000;
}

.callToActionContainer .contentWrapper p {
  margin: 2rem 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0px 0px 20px #000;
}

.callToActionContainer .contentWrapper .btn {
  margin: 0 1.5rem;
  background-color: #e0e0e0;
  border-radius: 2px;
  color: #101010;
  padding: .75rem 1.35rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Montserrat';
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.callToActionContainer .contentWrapper .btn:hover {
  background-color: #101010;
  color: goldenrod;
  -webkit-animation: shine 2s infinite;
          animation: shine 2s infinite;
}

.callToActionContainer .contentWrapper .btn:hover span {
  background-color: goldenrod;
  text-align: center;
  background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba(255, 255, 255, 0.75) 5%, rgba(255, 255, 255, 0.75) 10%, transparent 10%, transparent 100%);
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-animation: shine 2s infinite;
          animation: shine 2s infinite;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 360px) and (max-width: 414px) {
  #video {
    display: none;
  }
  .callToActionContainer .contentWrapper h1 {
    font-size: 1.25rem;
    width: 75%;
  }
  .callToActionContainer .contentWrapper p {
    font-size: .85rem;
  }
  .callToActionContainer .contentWrapper .btn {
    margin: 0 1.5rem;
    background-color: #e0e0e0;
    border-radius: 2px;
    color: #101010;
    padding: .75rem 1.35rem;
    font-size: .75rem;
    font-weight: 500;
    font-family: 'Montserrat';
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.75);
    overflow: hidden;
  }
  .callToActionContainer .contentWrapper .btn:hover {
    background-color: #101010;
    color: goldenrod;
    -webkit-animation: shine 2s infinite;
            animation: shine 2s infinite;
  }
  .callToActionContainer .contentWrapper .btn:hover span {
    background-color: goldenrod;
    text-align: center;
    background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba(255, 255, 255, 0.75) 5%, rgba(255, 255, 255, 0.75) 10%, transparent 10%, transparent 100%);
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-animation: shine 2s infinite;
            animation: shine 2s infinite;
  }
}
/*# sourceMappingURL=CallToAction.module.css.map */