.postContainer {
  background-color: #101010;
  color: #e0e0e0;
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.55))), url("../public/backgroundOne.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.55)), url("../public/backgroundOne.jpg");
  background-size: cover;
  background-position: center;
}

.postContainer .contentContainer {
  background-color: #1d1d1d;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.34), 0px 9px 46px 8px rgba(0, 0, 0, 0.34), 0px 11px 15px -7px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.34), 0px 9px 46px 8px rgba(0, 0, 0, 0.34), 0px 11px 15px -7px rgba(0, 0, 0, 0.4);
}

.postContainer .contentContainer .contentHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101010;
  padding: 1rem 1.25rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.postContainer .contentContainer .contentHeading h1 {
  border-bottom: 3px solid goldenrod;
}

.postContainer .contentContainer .contentHeading h4 {
  text-align: center;
  margin: .25rem 1rem;
  cursor: pointer;
}

.postContainer .contentContainer .contentHeading p {
  text-align: center;
  margin: .25rem 1rem;
}

.postContainer .contentContainer .contentText p {
  padding: 1rem;
  font-size: 1.25rem;
}

.postContainer .contentFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101010;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.postContainer .contentFooter .contentFooterBtn {
  background-color: #1d1d1d;
  padding: .5rem 1rem;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.postContainer .contentFooter .contentFooterBtn:hover {
  background-color: #0a0a0a;
  color: goldenrod;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.commentInterfaceContainer .addCommentBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101010;
  width: 80%;
  height: 65px;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.commentInterfaceContainer .addCommentBtn:hover {
  cursor: pointer;
  background-color: #0a0a0a;
  color: goldenrod;
}

.commentInterfaceContainer .addCommentInterface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0a0a0a;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.commentInterfaceContainer .addCommentInterface form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: .75rem;
  -webkit-animation: fadeIn 0.25s linear;
          animation: fadeIn 0.25s linear;
}

.commentInterfaceContainer .addCommentInterface form div {
  border: none;
  border-radius: 5px;
  background-color: #101010;
  outline: none;
}

.commentInterfaceContainer .addCommentInterface form div button {
  color: white;
}

.commentInterfaceContainer .addCommentInterface form div button span {
  font-family: 'Montserrat';
}

.commentInterfaceContainer .addCommentInterface form div button:hover {
  color: #0a0a0a;
}

.commentInterfaceContainer .addCommentInterface form div ul li button:hover {
  background-color: #e0e0e0;
}

.commentInterfaceContainer .addCommentInterface form input {
  background-color: #1d1d1d;
  color: #e0e0e0;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: .5rem;
  margin-top: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.commentInterfaceContainer .addCommentInterface form input:hover {
  background-color: #101010;
  color: goldenrod;
}

.commentsContainer {
  background-color: #1d1d1d;
  padding: 1rem 0;
}

.commentsContainer .commentItem {
  background-color: #101010;
  width: 80%;
  margin: 1rem auto;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.commentsContainer .commentItem .commentAuthorInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.commentsContainer .commentItem .commentAuthorInfo .profileImg {
  height: 50px;
  width: 50px;
  background-color: #1d1d1d;
  border-radius: 50%;
}

.commentsContainer .commentItem .commentAuthorInfo .commentAuthor {
  margin-bottom: 0;
  cursor: pointer;
}

.commentsContainer .commentItem .commentContent {
  margin-left: 3rem;
}

@media only screen and (min-width: 360px) and (max-width: 414px) {
  .postContainer {
    height: 100vh;
  }
  .postContainer .contentContainer {
    width: 90%;
  }
  .postContainer .contentContainer .contentHeading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #101010;
    padding: 1rem 1.25rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .postContainer .contentContainer .contentHeading h1 {
    font-size: 1.25rem;
    border-bottom: 3px solid goldenrod;
  }
  .postContainer .contentContainer .contentHeading h4 {
    font-size: 1rem;
    text-align: right;
    margin: .25rem 1rem;
    cursor: pointer;
  }
  .postContainer .contentContainer .contentHeading p {
    font-size: .75rem;
    text-align: right;
    margin: .25rem 1rem;
  }
  .postContainer .contentContainer .contentText p {
    padding: .75rem;
    font-size: 1rem;
  }
  .postContainer .contentFooter {
    width: 90%;
  }
}
/*# sourceMappingURL=PostItem.module.css.map */