@-webkit-keyframes shine {
  100% {
    background-position: -120% 0;
  }
}

@keyframes shine {
  100% {
    background-position: -120% 0;
  }
}

.registerBackground {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../public/backgroundTwo.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/backgroundTwo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerBackground .registerFormContainer {
  background-color: #1d1d1d;
  margin: 5rem auto;
  width: 50%;
  padding: 2rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.863), 0px 1px 10px 0px rgba(0, 0, 0, 0.534), 0px 2px 4px -1px rgba(0, 0, 0, 0.603);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.863), 0px 1px 10px 0px rgba(0, 0, 0, 0.534), 0px 2px 4px -1px rgba(0, 0, 0, 0.603);
}

.registerBackground .registerFormContainer h2 {
  margin: 0.5rem 0;
  text-transform: uppercase;
  width: 18%;
}

.registerBackground .registerFormContainer h2::after {
  content: '';
  height: 3px;
  width: 3px;
  display: block;
  background-color: goldenrod;
  width: 100%;
  margin-top: .5rem;
}

.registerBackground .registerFormContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registerBackground .registerFormContainer form input {
  margin: 2rem 0;
  margin-bottom: 0;
  background-color: #101010;
  border: none;
  border-radius: 2px;
  height: 45px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 1rem;
  color: #e0e0e0;
  font-family: 'Montserrat';
  font-size: 1.15rem;
  font-weight: 500;
}

.registerBackground .registerFormContainer form input:focus {
  background-color: #0a0a0a;
}

.registerBackground .registerFormContainer .registerBtn {
  background-color: #101010;
  width: 25%;
  text-align: center;
  margin-top: 2rem;
  padding: .5rem;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.registerBackground .registerFormContainer .registerBtn p {
  margin: 0;
}

.registerBackground .registerFormContainer .registerBtn:hover {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.568), 0px 2px 4px -1px rgba(0, 0, 0, 0.555);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.568), 0px 2px 4px -1px rgba(0, 0, 0, 0.555);
  cursor: pointer;
  color: goldenrod;
  background-color: #0a0a0a;
}

.registerBackground .login {
  color: #e0e0e0;
  font-size: .75rem;
  margin: 0;
  margin-bottom: 4rem;
  background-color: #1d1d1d;
  padding: 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.568), 0px 2px 4px -1px rgba(0, 0, 0, 0.555);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.568), 0px 2px 4px -1px rgba(0, 0, 0, 0.555);
}

.registerBackground .login:hover {
  -webkit-transition: .2s;
  transition: .2s;
  color: goldenrod;
  background-color: #101010;
  cursor: pointer;
}

@media only screen and (min-width: 360px) and (max-width: 414px) {
  .registerBackground .registerFormContainer {
    width: 85%;
  }
  .registerBackground .registerFormContainer .registerBtn {
    width: 50%;
  }
}
/*# sourceMappingURL=Register.module.css.map */